@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;         
}
.root{
  display: grid;
  gap: clamp(15px, 3vw, 50vw);
}
body{
   background-color: #1B1B1B;
   margin: 0;
   overflow-x: hidden;
}
a, p, p1, h1, li, span{
    margin: 0;
    text-decoration: none;
    line-height: 100%;
    font-synthesis: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}