@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/bebasneuecyrillic.ttf') format(woff2); 
  font-style: regular;
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: 'F37GingerCyrillic';
  src: url('./assets/fonts/F37GingerCyrillic-VF.ttf') format(woff2); ;
  font-style: regular;
  font-display: swap;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;         
}
.root{
  display: grid;
  gap: clamp(15px, 3vw, 50vw);
}


body{
   background-image: url(../public/Rectangle\ 154.svg);
   margin: 0;
   overflow-x: hidden;
}
a, p, p1, h1, li, span{
    margin: 0;
    height: fit-content;
    text-decoration: none;
    line-height: 100%;
    font-synthesis: none;
    font-family: "Bebas Neue", system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}