.Football_borders{
    display: flex;
    justify-content: center;
    padding-bottom: clamp(20px, 5vw, 500px);
}
.Football_main{
    display: grid;
    grid-template-columns: auto .6fr;
    justify-content: center;
    column-gap: clamp(20px, 2.2vw, 200px);
}

.Football_text{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 3vw, 50px);
}

.Football_main h1{
    color: #FFFFFF;
    font-size: clamp(22px, 3vw, 100px);
    padding-top: clamp(20px, 5vw, 500px);
}

.Football_main p{
    color: #d5d5d5;
    font-weight: 600;
    line-height: 130%;
    font-size: clamp(14px, 1.2vw, 100px);
    min-width: 240px;
}
.video_Football{
    width: clamp(200px, 22vw, 100vw);
    height: clamp(260px, 30vw, 100vw);
    border-radius: clamp(5px, .6vw, 100px);
    object-fit: cover;
    object-position: center center;
    
}

@media screen and (max-width:510px){
    .video_Football{
        margin-inline: auto;
        width: 90%;
        height: clamp(150px, 95vw, 500px);
    }
    .Football_main{
        grid-template-columns: auto;
        padding-inline: clamp(20px, 4vw, 50px);
    }
    .Football_text{
        gap: clamp(10px, 2vw, 50px);
    }
}