.Header_Hero {
    background: linear-gradient(180deg,
            #0C0E19 0%,
            #1E2235 29%,
            #252C48 51%,
            #2E4084 66%,
            #293567 81%,
            #0C0E19 100%);
    z-index: -20;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: clamp(15px, 3vw, 20px) clamp(20px, 5vw, 40px);
}

.secoundHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: clamp(150px, 35vw, 290px);
}

.nav-1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: clamp(20px, 5vw, 40px);
    font-size: clamp(18px, 4vw, 22px);
    white-space: nowrap;
}

.nav-1 a {
    color: #E1E0E0;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in, border-bottom 0.3s ease-in;
}

.nav-1 a:hover {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.right-group {
    display: flex;
    align-items: center;
    gap: clamp(15px, 3vw, 28px);
}

.secoundFlour {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(10px, 5vw, 20px);
}

.button {
    font-size: clamp(12px, 4vw, 20px);
    font-weight: 600;
    text-transform: uppercase;
    background-color: #E1E0E0;
    color: #0C0E19;
    border: none;
    border-radius: clamp(8px, 2vw, 12px);
    padding: clamp(10px, 2vw, 14px) clamp(15px, 5vw, 30px);
    cursor: pointer;

    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.button:hover {
    background-color: #FFFFFF;
    color: #0C0E19;
}

.nav-2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 1vw, 4px);
    font-size: clamp(12px, 3vw, 18px);
    color: #FFFFFF;
    white-space: nowrap;
    text-align: right;
}

.nav-3 {
    list-style: none;
    display: flex;
    gap: clamp(8px, 3vw, 16px);
}

.nav-3 img {
    width: clamp(24px, 4vw, 36px);
    display: block;
}

.strip {
    width: 100%;
    margin: 30px auto 0;
    border-bottom: 1px solid #444;
}

@media (max-width: 1550px) {
    .nav-1 {
        display: none;
    }
}

@media (max-width: 1000px) {
    .secoundFlour {
        display: none;
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-inline: clamp(10px, 3vw, 500px);
    row-gap: clamp(40px, 5vw, 500px);
    padding-top: clamp(10px, 2vw, 100px);
    background: linear-gradient(to top,
            rgba(16, 16, 16, 1) 3%,
            rgba(31, 31, 31, 0.3) 30%,
            rgba(0, 0, 0, 0.05) 100%);
}

.hero-content {
    display: grid;
    gap: clamp(10px, 1vw, 100px);
}

.admiral-name {
    grid-row: 2;
}

.admiral-name img {
    position: relative;
    width: 100%;
    z-index: -2;
}

.players {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10vw;
    left: 45%;
    top: 9%;
    height: 10vw;
    grid-row: 3;
}

.football_players {
    position: absolute;
    width: clamp(350px, 75vw, 100vw);
    height: auto;
    z-index: -1;
}

.football_school {
    font-size: clamp(16px, 1.5vw, 100px);
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
}

.football_school p {
    letter-spacing: 100%;
}
@media screen and (max-width:660px) {
    .football_players{
        width: clamp(320px, 90vw, 100vw);
    }
}