.parents {
    position: relative;
    width: 100%;
    padding-bottom: clamp(30px, 4vw, 80px);
    overflow: hidden;
}


.parents__title {
    position: relative;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(16px, 2vw, 200px);
    font-weight: 700;
    letter-spacing: clamp(-0.5px, -0.069vw, -1.44px);
    padding: clamp(20px, 3.18vw, 61px) clamp(10px, 4vw, 200px);
    margin: 0;
    z-index: 1;
}

.parents__cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(10px, 1.56vw, 30px);
    padding: 0 clamp(16px, 5.13vw, 98px);
    z-index: 1;
}

.parents__card {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: clamp(10px, 1.04vw, 20px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.parents__card-image {
    position: relative;
    width: 100%;
    height: clamp(180px, 25.2vw, 100vw);
    overflow: hidden;
    border-radius: clamp(10px, 1.04vw, 20px) clamp(10px, 1.04vw, 20px) 0 0;
    flex-shrink: 0;
}

.parents__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.parents__card-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(31, 31, 31, 0.2);
}

.parents__card-body {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 0.52vw, 10px);
    padding: clamp(16px, 2.08vw, 40px);
    flex: 1;
}

.parents__card-title {
    position: absolute;
    bottom: clamp(12px, 2.08vw, 40px);
    left: clamp(16px, 2.08vw, 40px);
    right: clamp(16px, 2.08vw, 40px);
    color: #FFFFFF;
    font-size: clamp(18px, 2.29vw, 100px);
    font-weight: 700;
    letter-spacing: clamp(-0.5px, -0.069vw, -1.32px);
    line-height: normal;
    margin: 0;
    z-index: 1;
}

.parents__card-text {
    color: #9F9F9F;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(12px, 1.25vw, 100px);
    font-weight: 600;
    line-height: normal;
    margin: 0;
}


@media screen and (max-width: 800px) {
    .parents__title {
        padding: clamp(16px, 4vw, 40px) 20px 20px;
    }

    .parents__cards {
        grid-template-columns: 1fr;
        gap: 31px;
        padding: 0 20px;
    }

    .parents__card-image {
        height: clamp(200px, 50vw, 400px);
    }

    .parents__card-title br,
    .parents__card-text br {
        display: none;
    }
}