@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.root {
  display: grid;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background-color: #1B1B1B;
  margin: 0;

}

a,
p,
p1,
h1,
h2,
h3,
li,
#text,
span,
ul,
::placeholder,
label,
input {
  margin: 0;
  text-decoration: none;
  line-height: 100%;
  font-synthesis: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* анимации */

.aboutUs,
.Announcements,
.advantages,
.Football_borders,
.CoachingStaff,
.theFirstStep,
.parents,
.FAQ {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.aboutUs.visible,
.Announcements.visible,
.advantages.visible,
.Football_borders.visible,
.CoachingStaff.visible,
.theFirstStep.visible,
.parents.visible,
.FAQ.visible{
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  .aboutUs,
  .Announcements,
  .advantages,
  .Football_borders,
  .CoachingStaff,
  .theFirstStep,
  .parents,
  .FAQ{
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}